* {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display";
}

/* Header Top */
#header_top {
    display: flex !important;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

#header_top img {
    height: 5vh;
    width: auto;
}

#nav_top {
    display: flex !important;
    align-items: center ;
}

#top {
    justify-content: space-between;
    background-color: white;
}

#top p {
    color:black;
    font-size: 12px;
}

#top img {
    height: 5vh;
}


